  #addfriend-container .container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  /* Các quy tắc CSS khác giống như trước */
  #addfriend-container .image {
    width: 100%;
  }

  #addfriend-container .text-name {
    text-align: center;
  }

  #addfriend-container .button {
    text-align: center;
  }

  #addfriend-container.container {
    display: flex;
    flex-wrap: wrap;
    height: 1080px;
    overflow-y: auto;
  }

  #addfriend-container .top-menu {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    width: 1650px;
    height: 80px;
    flex-shrink: 0;
    background: #FDFDFD;
  }


  #addfriend-container .left-sidebar {
    flex-basis: 20%;

    height: 996px;
    flex-shrink: 0;
    background: #FDFDFD;
    padding: 10px;
  }

  #addfriend-container .left-sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #addfriend-container .left-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #addfriend-container .left-sidebar ul li {
    margin-bottom: 10px;
  }

  #addfriend-container .left-sidebar ul li::before {
    content: "•";
    margin-right: 10px;
  }

  #addfriend-container .content {
    flex-grow: 0;
    flex-basis: 80%;
    width: 1600px !important;
    height: 900px;
    flex-shrink: 0;
    background: #E8E8E8;
    margin-left: 0px;
    margin-top: 0px;
    /* Khoảng cách giữa content và top-menu */
  }

  #addfriend-container .container-card {
    margin-left: 25px;
    margin-right: 25px;
  }

  #addfriend-container .card {


    align-items: center;
    width: 230px;
    height: 336px;
    flex-shrink: 0;
    background-color: #FDFDFD;
    border-radius: 10px;
  }

  #addfriend-container .image {
    width: 230px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0 0;
  }

  #addfriend-container .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 75px;
    flex-shrink: 0;
    margin-left: 25px;

  }

  #addfriend-container .button button {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border-color: #E8E8E8;
    margin-top: 5px;
  }

  #addfriend-container .button button:nth-child(1) {
    background: #587CFB;
    color: white;

  }

  #addfriend-container .button button:nth-child(2) {
    background: #E8E8E8;
  }

  #addfriend-container .text-name {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;

  }

  #addfriend-container .text-frrq {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px;
  }

  #addfriend-container .img-icon {
    width: 35px;
    height: 35px;
  }

  #addfriend-container .left-sidebar ul li::before {
    content: "";
    margin-right: 10px;
  }

  #addfriend-container .left-sidebar ul li {
    display: flex;
    align-items: center;
  }

  #addfriend-container .left-sidebar ul li img {
    margin-right: 10px;
  }

  /* Media queries */
  @media (max-width: 1200px) {
    #addfriend-container.container {
      justify-content: flex-start;
    }

    #addfriend-container .left-sidebar {
      display: none;
    }

    #addfriend-container .content {
      width: 100%;
      margin-top: 0;
    }
  }

  #addfriend-container .logo-icon {
    margin: 5px !important;
    ;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 7px 13px 10.875px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #587CFB;
  }

  #addfriend-container .text-icon {
    width: 31px;
    height: 44px;
    color: #FFF;
    font-family: Jomhuria;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
  }

  #addfriend-container .text-h2 {
    margin-top: 8px;
    text-align: center;

  }

  #addfriend-container .search-bar {

    display: inline-flex;
    padding: 11px 60px 11px 12px;
    align-items: flex-end;
    gap: 15px;
    border-radius: 43px;
    background: #E8E8E8;

  }

  #addfriend-container .button-container {
    margin-left: 150px;
    display: flex;
    gap: 15px;
  }

  #addfriend-container .home-button {
    border: none;
    margin-right: 45px;
  }

  #addfriend-container .button-container1 {
    display: flex;
    gap: 15px;
  }

  #addfriend-container .home-button1 {
    border: none;
    margin-right: 45px;
  }

  #addfriend-container .ui.link.cards .card .header,
  .ui.link.cards .card .meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #addfriend-container .ui.link.card {
    flex-basis: calc(33.33% - 10px);
    /* Độ rộng của mỗi thẻ (33.33% của không gian cha với khoảng cách là 10px) */
    margin-bottom: 20px;
    box-sizing: border-box;
    /* Đảm bảo rằng padding và border không làm tăng kích thước thực tế */
  }

  #addfriend-container.ui.link.cards .card {
    width: 100%;
    height: 425px;
  }

  #addfriend-container .ui {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #addfriend-container .four-wide-column {
    display: flex;
    /* Sử dụng flexbox để hiển thị các phần tử con ngang nhau */
    flex-wrap: wrap;
    /* Cho phép các phần tử con tự xuống dòng khi không đủ không gian */
    justify-content: center;
    flex: 0 1 calc(25% - 10px);
    /* Giới hạn mỗi phần tử trên mỗi dòng là 4 */
    margin-bottom: 10px;
    /* Khoảng cách giữa các phần tử */
  }

  @media (max-width: 767px) {
    #addfriend-container .top-menu {
      display: none;
    }

    #addfriend-container .card {
      width: 100%;
      align-items: center;
    }
  }