@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.personal-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .personal-info-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-label {
    width: 100px;
  }
  
  .info-value {
    flex: 1;
    border: none;
  }

  .tag-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    font-size: 20px;
  }
  
  .update-button {
    width: 320px;
    height: 35px;
    margin-top: 10px;
    background-color: #1877f2;
    border-radius: 5px;
    color: #fff;
  }


body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #523ad9) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}